.container{
  /*width:47.25%;*/
  /*margin-top: 10px;*/
}

.row {
  /*background-color:#bc713e;*/
}

.unit {
  border: 1px solid black;
  width:15px;
  height:15px;
  display: inline-block;
  float: left;
}

.worm {
  background-color:black;
}

.food {
  background-color:red;
}
